name: Compute Health Score
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:

jobs:
  health:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run health score action
        uses: ./.github/actions/health-score
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          coverage_path: coverage.xml
